body {
  font-family: serif;
  background-color: #F5DEB3;
  font-size: 14pt;
}

main {
  max-width: 70%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #FFF;
}

main img {
    width: 100%;
}

header {
  background-color: gray;
  color: #FFF;
  padding: 10px;
  text-align: center;
}


h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

nav {
  list-style: none;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: auto auto 30px auto;
  text-align: center;
}
nav ul {
    padding: 0;
    margin: 0;
}

nav li {
  display: inline-block;
  margin: 30px;
}

nav a {
    font-size: 20pt;
  color: #666;
  text-decoration: none;
}

nav a:hover {
  color: #3d3f40;
}

#team {
  background-color: #CCC;
  padding: 10px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #666;
  padding: 5px;
  text-align: left;
}

thead tr {
  background-color: #666;
  color: #FFF;
}

tfoot {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
}

#specification ol {
  list-style-type: decimal;
  padding-left: 20px;
}

li > ol {
  list-style-type: upper-roman;
  padding-left: 10px;
}

/*
Source - https://stackoverflow.com/a/49064925
Posted by Cubiczx
Retrieved 2026-02-11, License - CC BY-SA 3.0
*/

#specification ol { counter-reset: item }
#specification li{ display: block }
#specification li:before { content: counters(item, ".") " "; counter-increment: item }